<p>view-product works!</p>
<p>get-product works!</p>

<hr>


<hr>

<table class="table">
  <thead>
    <tr>
      <th>Catagory</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @for (item of product; track $index) {
      <tr>
        <td>
          
         <strong> Catagory Name : {{item.name}}</strong> 

         <div *ngIf="item.products && item.products.length > 0; ">
              
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product ID</th>
                      <th>Name</th>
                      <th>Product Number</th>
                      <th>Color</th>
                      <th>Standard Cost</th>
                      <th>List Price</th>
                      <th>Size</th>
                      <th>Weight</th>
                    </tr>
                  </thead>
                  <tbody>

                    @for (p of item.products; track $index) {

                  <tr>
                    <td>{{p.productID}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.productNumber}}</td>
                    <td>{{p.color}}</td>
                    <td>{{p.standardCost}}</td>
                    <td>{{p.listPrice}}</td>
                    <td>{{p.size}}</td>
                    <td>{{p.weight}}</td>
                  </tr>

                }
                </tbody>
                </table>

              </div>
              
            
        </td>
        <td>
          <button  class="btn btn-primary">Edit</button>
          <button (click)="onDelete(item.productCategoryID)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>